.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

h1, h3 {
  text-align: center;
}

.nav-title{
  color: #61DAFB;
  justify-content: left;
}

.search-bar{
  padding: 10px;
}

.nav-button {
  background-color: #61DAFB; 
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.course-form{
  display: grid;
  justify-content: space-evenly;
  padding: 10px;
  row-gap: 10px;
}

.disc-table{
  justify-content: space-evenly;
  border: 1px solid;
  margin: auto;

}

th, td {
  padding: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
}

.course-card {
  width: 400px;
  height: 300px;
  padding: 20px;
  margin: 20px 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #21222A;
  color: white;
  text-align: center;
}

.home-blurb{
  padding: 20px;
  text-align: center;
}

.card-text{
  padding: 0px 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.profile-pic {
  max-width: 300px;
}